@model IEnumerable<WebApplication5.Models.post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

<div class="col-xl-8 px-md-5 py-5">
    <div class="row pt-md-4">
        <h2>Index</h2>
    </div>
</div>