
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v6.0&appId=510915852836074&autoLogAppEvents=1"></script>
<div class="fb-comments" data-href="@ViewBag.url" data-numposts="10" data-width=""></div>